/* Feito com amor e carinho por Bruno Bonavigo em 2022. */
/* Viva Cristo Rei! Viva Maria Rainha! */

main {
	width: 100%;
}

.card-rosario {
	padding: 1.5em;
}

.background-white {
	background-color: #FFF !important;
}